.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}

[class*='col'] {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}

@mixin column-widths ( $cls ) {
    @for $i from 1 through $columns {
        .#{ $cls }-#{ $i } {
            width: 100% / $columns * $i;
        }
    }
}

@mixin column-offsets ( $cls ) {
    @for $i from 0 through $columns - 1 {
        .#{ $cls }-#{ $i } {
            margin-left: 100% / $columns * $i;
        }
    }
}

@include column-widths( 's-col' );
@include column-offsets( 's-off' );

@include medium {
    @include column-widths( 'm-col' );
    @include column-offsets( 'm-off' );
}

@include large {
    @include column-widths( 'l-col' );
    @include column-offsets( 'l-off' );
}