.description {
    background: $light-grey;
    color: black;
    &__main {
        padding-top: 4rem;
        padding-bottom: 4rem;
        min-height: 100vh;
        padding-top: 8rem;
        .row {
            height: 100%;
        }
    }
    &__body {
        @include large {
            column-count: 2;
            column-gap: $gutter;
            column-fill: auto;
            p {
                position: static;
            }
        }
    }
    &__element {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: black;
        color: $light-grey;
        padding-top: 8rem;
        padding-bottom: 4rem;
        min-height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
        &--open {
            opacity: 1;
            pointer-events: visible;
        }
    }
    &__element-toggle-track {
        position: absolute;
        top: 8rem;
        bottom: 4rem;
        right: 2rem;
    }
    &__element-toggle {
        // position: sticky;
        // top: calc( 100vh - 6rem );
        @include sticky( calc( 100vh - 6rem ) );
        width: 2rem;
        height: 2rem;
        @include large {
            width: 4rem;
            height: 4rem;    
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            transition: opacity .25s;
            &:nth-child(2) {
                opacity: 0;
            }
        }
        &:hover img {
            &:nth-child(1) {
                opacity: 0;
            }
            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
    &__section {
        break-inside: avoid;
        h6 {
            line-height: 1.6;
        }
    }
}