.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0,0,0,0.75 );
    animation: fade-in .5s;
    z-index: 1000;
    &--exit {
        animation: fade-out .5s;
    }
    &__asset {
        @keyframes scale-in {
            from { transform: translate(-50%, -50%) scale( 0, 0 ) }
            to { transform: translate(-50%, -50%) scale( 1, 1 ) } 
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: scale-in .5s;
        .lightbox--exit & {
            animation: scale-in .5s reverse;
        }
    }
}