.logo {
    position: fixed;
    top: $gutter + .5rem;
    left: $gutter + .5rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid $grey;
    border-radius: 50%;
    transition: border-color .2s;
    z-index: 900;
    display: none;
    transform: translate(-50%, -50%);
    .red & {
        border-color: $pink;
    }
    @include medium {
        display: block;
    }
    &:hover, .red &:hover {
        border-color: white;
    }
}