.page {
    width: 100%;
    animation: fade-in .5s .75s;
    animation-fill-mode: both;
    &--exit {
        position: fixed;
        animation: fade-out .5s;
    }
    &--project {
        margin-bottom: 200vh;
        @include large {
            margin-bottom: 100vh;
        }
    }
}